<html>
  <head>
    <title>WikiWiki</title>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <h1>Authenticated</h1>
    <p></p>

    <form action="/sessions" method="post">

      <input type="/sessions" method="post">
      <input type="submit" value="Log-Out">
    </form>

    <form id='rest-form'>

    </form>

    <script charset="utf-8" src="/javascripts/lib/jquery.js"></script>
    <script charset="utf-8" src="/javascripts/lib/underscore.js"></script>
    <script charset="utf-8" src="/javascripts/lib/backbone.js"></script>
    <script charset="utf-8" src="/javascripts/app.js"></script>

  </body>
</html>
