<!-- <html>
  <head>
    <title>WikiWiki</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <script type="text/template" id="food-template">
        <h1><%%= food %></h1>
    </script>

    <section id="food-container">

    </section>

    <script charset="utf-8" src='/javascripts/lib/jquery.js'></script>
    <script charset="utf-8" src='/javascripts/lib/underscore.js'></script>
    <script charset="utf-8" src='/javascripts/lib/backbone.js'></script>

    <script charset="utf-8" src='/javascripts/app.js'></script>
  </body>
<!-- </html> -->  ANOTHER GREAT EXAMPLE OF MY INABILITY TO FOLLOW DIRECTIONS -->

<html>
  <head>
    <title>WikiWiki</title>
  </head>
  <body>

    <h1>Coffee, on coffee, on coffee</h1>

  	<img src="http://imgur.com/sVKo7pw">
		<button id="order">Drink on</button>

  	<div id="coffee">
		</div>

  	<div class="cofee">
		</div>

  </body>
</html>
