<html>
  <head>
    <title>WikiWiki</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <%= erb :template %>
  </head>
  <body>

    <!-- <ul class='interface-list' id='menu-list'>
    </ul>
    <ul class='interface-list' id='party-list'>
    </ul> -->



  </body>
</html>

<!-- <html>
  <head>
    <title>WikiWiki</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>


     <script type='text/javascript' src='/javascripts/lib/jquery.js'></script>
     <script type='text/javascript' src='/javascripts/lib/underscore.js'></script>
     <script type="text/javascript" src='/javascripts/lib/backbone.js'></script>


     <script src='/javascripts/models/FoodModel.js'></script>
     <script src='/javascripts/models/PartyModel.js'></script>
     <script src='/javascripts/models/GuestModel.js'></script>
     <script src='/javascripts/models/OrderModel.js'></script>
     <script src='/javascripts/models/ReceiptModel.js'></script>


     <script src='/javascripts/collections/FoodCollection.js'></script>
     <script src='/javascripts/collections/PartyCollection.js'></script>
     <script src='/javascripts/collections/GuestCollection.js'></script>
     <script src='/javascripts/collections/OrderCollection.js'></script>
     <script src='/javascripts/collections/ReceiptCollection.js'></script>


     <script src='/javascripts/app.js'></script>
  </body>
</html>  -->

<!-- <html>
  <head>
    <title>WikiWiki</title>
  </head>
  <body>

    <h1>Coffee, on coffee, on coffee</h1>

  	<img src="http://imgur.com/sVKo7pw">
		<button id="order">Drink on</button>

  	<div id="coffee">
		</div>

  	<div class="cofee">
		</div>

  </body>
</html>
