<html>
  <head>
    <title>Sign-In</title>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <!-- <div id='logo-box'>
      <img id='logo-pic' src="/pictures/logo.png" alt="">
    </div> -->

    <h1>Not-Authenticated</h1>

    <h3>Barista</h3>
    <form action="/users" method="post">
      <input type="text" name="user[username]" placeholder='barista'>
      <input type="password" name="password" placeholder='password'>
      <input type="submit">
    </form>

    <h3>Sign-In</h3>
    <form action="/sessions" method="post">
      <input type="text" name="username" placeholder='barista'>
      <input type="password" name="password" placeholder='password'>
      <input type="submit">
    </form>

  </body>
</html>
