body{
  background-image: lightblue;
  /*url("http://imgur.com/sR16aYv");*/
}

ul{
  display: inline-block;
}

font{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-color: black;
}

h1{
  display: inline-block;
  border: 1px solid black;
}

.food-selected{
  background-color: red;
}
.party-selected{
  background-color: green;
}
