body{
  background-image: lightblue;
  /*url("http://imgur.com/sR16aYv");*/
}

font{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-color: black;
}

.food{
  background-color: lightblue;
}

.party{
  background-color: lightyellow;
}

h1{
  display: inline-block;
  border: 1px solid black;
}
